<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php"
         colors="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Aspose.PDF Cloud">
            <directory>./tests/Aspose/PDF</directory>
        </testsuite>
    </testsuites>
</phpunit>
